__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.DS_Store

# Third-party papers and pages: kept locally in references/, not versioned (copyright). The bibliography stays tracked.
references/*.pdf
references/*.html
references/text/
